@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans"), 
  url(./fonts/NunitoSans-Regular.ttf) format("truetype")
  
}
@font-face {
  font-family: "NunitoSansBlack";
  src: local("NunitoSansBlack"), 
  url(./fonts/NunitoSans-Black.ttf) format("truetype")
  
}


body{
  font-family: 'NunitoSans', 'NunitoSansBlack' Arial, Helvetica, sans-serif
}

.app{
    background-size: cover; 
    justify-content: center;
    min-height: fit-content;
    height: 100vh;
    max-width: 100vw;
    position: relative;
 
}

.page-title{
  text-align: center ;
  font-size: 2.5rem;
  font-family: 'NunitoSansBlack';
  padding: 0.9rem;
  padding-bottom: 0;
  margin-top: 1.2rem;
}

.subtitle{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
  padding-bottom: 1rem;
}
.subtitle-sub{
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 2rem;
  padding-bottom: 1rem;
}


#condition{
  font-size: 0.75rem;
  margin: 1%
}

.font1{
  font-family: 'NunitoSansBlack';
}
.font2{
  font-family: 'NunitoSans';
}


.buttongroup{
    text-align: center;
    margin: 1%;
  }

  


.boxes{

    background-color:inherit;
    text-align: left;
    padding: 1rem;
    border-collapse: collapse;
    border-style: hidden;
    margin-top: 1rem;
}
.box-row{
  border: 2px solid;
  color: inherit;
  padding: 2rem;
}

.row{
    justify-content: center;
    
}


.hero{
    background-position: center;
    background-size: cover;
    min-height: 92.5vh;
    width: 100%;
    color:white;
    display: flex;
    margin: auto;
    justify-content: center;
}
.hero-content{
  margin: 0em 6em 5em 6em;
  padding: 5em;
  width: 50%;
}


.hero-title{
    height: fit-content;
    font-size: 3.25vw;
    text-align: left;
    padding-left: 0.75em;
    border-image-source: linear-gradient(180deg, rgba(224,25,54), rgba(224,26,248));
    border-left: 11px solid ;
    border-image-slice: 1;
  
}

.hero-text{
  font-family: 'NunitoSans';
  padding-top: 1.4rem;
  font-size: 1.2rem;
  text-align: right;
}




#section{
  top: 50%;
  left: 50%;
}




.buttonshp{
    border-color: white;
    border: solid 2px;
    border-radius: 10px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: auto;
    background-color: rgba(1,23,42,1);
    color: white;
    cursor: pointer;
    width: inherit;

}
.buttonshp:hover{
  color:rgba(228,42,69) !important;
}

.buttoncolors {
    border: none;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:  auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    width: 158px;
  }

  .button-resp {
    border: none;
    border-radius: 10px;
    margin: 1px;
    color: white;
    padding: 0.1em 0.7em 0.1em 0.7em;
    font-weight: 500;
    font-size: 1rem;
    display: inline;
  }
  
  .sequence{
    position: absolute;
    bottom: 10%;
    right: 3%;
    font-weight: 500;
  }

  .tool{
    border-radius: 10px 10px 10px 10px;
    margin: 1px;
    padding: 0.1em 0.7em 0.1em 0.7em;
    font-weight: 500;
    display: inline;
    font-size: 1rem;
  }

  #icon{
    color: rgba(1,23,42,1);
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 35px;
    cursor: pointer;}
  
    #circleIcon{
      position: absolute;
      right: 15.5%;
      top: 3%;
      font-size: 35px
      }

#circle{
    word-wrap: break-word;
    border-radius:50%;
    border: 10px solid white;
    width: 10rem;                               
    height:10rem;
    padding: 1rem;
    background-color:#0055AA;
    text-align: center;
    font-size: medium;
}
.footer {
    color: #ffffff;
    position: absolute;
    width: 100% 
  }
.footer-content{
  max-width: 800px;
}


  
  .cards{
      color: rgba(1,23,42,1);
      border-radius: 10px;
      border-width: 0.5px;
      margin:0.5%;
      padding: 2%;
      margin-bottom: 1%;
      margin-top: 1%;
      min-width: 260px;
      min-height: 250px;
  }
  .card-button{
    background-color: rgba(1,23,42,1);
    border: rgba(1,23,42,1);
    padding: 0.5em;
    border-radius: 0 0 10px 10px;
    color: #ffffff;
    width:100%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    text-transform: uppercase;
    font-weight: 20%
  }
  
  
  #responsible2{
    font-weight: 200;
  }

  

  .table {
    width: screen;
    max-width: 1000px;
    margin: auto;
    color: rgba(1,23,42,1);
    background-color: white;
    padding: 30px
  }

  td {
    padding: .5rem;
    padding-left: 1rem !important;
  }


  .td-abb{
    font-weight: 800;
  }

  .td-def{

    word-wrap: break-word;
  }
  
.thtitle{
  background-color: rgba(1,23,42,1);
  color: white;
  padding: 0;
}

  img{
    vertical-align: baseline;
  }

  #member-picture {
    border-radius: 50%;
    border: rgba(228,42,69) 10px solid;
    transition: transform 0.2s;
    height: 180px;
    width: 180px;
  }
  

  
  #team-logo:hover {
    transform: scale(1.08);
  }
  
  #img-ausr {
    align-content: center;
  }
  
  #team-text {
    font-size: 14px;
  }
  
  #team-content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 15px 15px 5px 15px;
  }

.circle {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 15%;
  top: 5%;
  line-height: 35px;
  border-radius: 50%;
  color: white;
  font-weight: 800;
  text-align: center;
  background-color:rgba(228,42,69)
}


#collasible-nav-dropdown:hover{
  color: rgba(228,42,69) !important;
  font-weight: 800;
}
.dropdown-item:hover{
  background-color: rgba(228,42,69) !important;
  color: rgba(1,23,42,1) !important

}
.dropdown-item.active{
  background-color: rgba(228,42,69) !important;
  color: rgba(1,23,42,1) !important

}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.nav-link:hover{
  color: rgba(228,42,69) !important;
  /* font-weight: 800; */
}

.search-icon{
  color:white;
}
.navbar{
  background-color: rgba(1,23,42,1) !important;
  padding: 0.75rem;
  color: inherit !important;
}


.nav-link{
  color: white !important;
  position: relative;
  font-size: 1rem;
  margin-left: .8rem;
}
.navbar-toggler-icon{
  color: white !important;
}

.dropdown-toggle.nav-link.active{
  color: rgba(228,42,69) !important;
  font-weight: 800;
}
.dropdown-item{
  color: white !important;
}



.dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 2em;
  background-color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(1,23,42,1);
  color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(1,23,42,1,0.2);
  z-index: 1;
  font-size: 1rem;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  max-height: 480px;
  overflow: auto;
}

.nav-drop {
  border: 1px solid white;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: rgba(228,42,69)
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color:rgba(228,42,69), !important;
}
.myInput {
  background-color: rgba(1,23,42,1);
  color: white;
  border: 2px solid white;
  background-position: 14px 12px;
  font-size: 16px;
  text-align: left;
  padding: .3rem;
  display: flex;
}

input {
  width: 100%;
  background-color: rgba(1,23,42,1);
  color: white;
  border: none;
  font-size: 1rem;
}

input:focus {
  outline: none;
}

::placeholder {
  color:  white;
}

.popup{
  max-height: 33rem;
  overflow-y: auto;
}

.links {
  color: white;
  margin-top: 1rem;
  font-size: .85rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link {
  color: white;
  margin: 0 .6rem;
}

.footer-link:hover {
  color: rgba(228,42,69);
  text-decoration: none;
}



.box-flex{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.menubox{
  flex: 0 1 32%;
  margin-bottom:0.3rem;
  border-radius:10px;
  background-color: rgba(1,23,42,1)
}
.section-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: left
}

.edit-box{
  background: none;
  border: none;
  border-bottom: 1px dashed #999999;
  outline: none;
}

@media only screen and (max-width: 800px) {
  .hero-content{
    width: 100vw;
    min-height: fit-content;
    margin: 0;
    padding: 5em 2.5em 3em 2.5em;
  }
  .hero{
    min-height: 100vh;
    width: fit-content;
  }
  .hero-title{
    font-size: 33px;
  }
  .page-title{
    font-size: x-large;
  }
 
  table, thead, tbody, th, td, tr { 
		display: block; 
  }
  .dropdown:hover .dropdown-content {
    display: none;
}
  .nav-drop.dropdown-content{
    display: none;
  }
  .col{
    flex: 100%;
  }
  .menubox{
    flex: 0 1 90%;
  }
  .section-box{
    justify-content: center;
  }

}
.carousel-control-next-icon{
  filter: invert(100%);
}

.carousel-control-prev-icon{
  filter: invert(100%);
}