.search{
    color:white;
margin: 3mm;
    position:absolute
}


@media screen and (max-width: 600px) {
  div .dropdown {display: none;}
 }


 .dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 2em;
  background-color: inherit;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: rgba(0,0,40)
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,40,0.2);
  z-index: 1;
}

.dropdowncontent a {
  color: rgba(0,0,40);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowncontent a:hover {background-color: rgba(0,230,220) !important}

.dropdown:hover .dropdowncontent {
  display: block;
}

.dropdown:hover .dropbtn {
  color:rgba(0,230,220) !important;
  font-weight: 900;
}
.myInput {
  background-color: rgba(0,0,40,1);
  color: white;
  text-align: left;
  border: solid;
  padding: 0.35em;
  background-position: 14px 12px;
  font-size: 16px;
  border-radius: 10px 10px 10px 10px;
}
